{% extends '@DdrBootstrap/bootstrap5.html.twig' %}

{% set navbar_brand_url = '#' %}

{% block body %}
    {{ parent() }}
    <main>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                <div class="container">
                    {% block navbar_brand %}
                        <a class="navbar-brand" href="{{ navbar_brand_url }}">{% block navbar_brand_content %}{% endblock navbar_brand_content %}</a>
                    {% endblock navbar_brand %}
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbar-collapse"
                            aria-controls="navbar-collapse"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    {% block navbar_collapse %}
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            {% block navbar_collapse_content %}
                            {% endblock navbar_collapse_content %}
                        </div>
                    {% endblock navbar_collapse %}
                </div>
            </nav>
        {% endblock navbar %}

        {% set breadcrumb_content_block = block('ddr_breadcrumb_content') %}
        {% set ddr_subnav_actions_content_block = block('ddr_subnav_actions_content') %}

        {% if breadcrumb_content_block|trim is not empty or ddr_subnav_actions_content_block|trim is not empty %}
            {% block ddr_subnav %}
                <nav class="ddr-subnav">
                    {% block ddr_subnav_content %}
                        <div class="container ddr-action-container">
                            <div class="ddr-content">
                                <ol class="breadcrumb">
                                    {% block ddr_breadcrumb_content %}
                                    {% endblock ddr_breadcrumb_content %}
                                </ol>
                            </div>
                            <div class="ddr-actions">
                                {% block ddr_subnav_actions_content %}
                                {% endblock ddr_subnav_actions_content %}
                            </div>
                        </div>
                    {% endblock ddr_subnav_content %}
                </nav>
            {% endblock ddr_subnav %}
        {% endif %}

        {% block main_content %}
        {% endblock main_content %}
    </main>
{% endblock body %}
