{% if additionalClasses is not defined%}
    {% set additionalClasses = '' %}
{% endif %}
<button class="dropdown-toggle ddr-no-caret btn btn-link {{ additionalClasses }}"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
>
    <span class="bi bi-three-dots-vertical bi-fw"></span>
</button>
