<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %}>
<span class="float-end">
        {% if sorted %}
            {% if direction == 'desc' %}
                <span class="bi bi-sort-down"></span>
            {% else %}
                <span class="bi bi-sort-up"></span>
            {% endif %}
        {% else %}
            <span class="bi bi-filter-left"></span>
        {% endif %}
    </span>
{{ title }}
</a>
